/* You can add global styles to this file, and also import other style files */

    div{
      font-weight: bolder;
      font-style: oblique;
      padding: 20px;
      background-color: gray;
      box-shadow:2px 2px 2px 1px black;
    }
